/*.SearchResult{*/
/*    !*border: 1px solid red;*!*/
/*    overflow: scroll;*/
/*    display: grid;*/
/*    justify-items: center;*/
/*}*/
/*.SearchWord{*/

/*}*/

/*.Find{*/
/*    border: 1px solid red;*/
/*    color: white;*/
/*    background-color: #484848;*/
/*    border-radius: 15px;*/
/*    display: grid;*/
/*    !*text-align: center;*!*/
/*    align-content: center;*/
/*    margin: 5px;*/
/*    height: 40px;*/
/*    width: 70%;*/
/*    padding-left: 15px;*/
/*    font-size: 120%;*/
/*}*/
.Main{
    /*perspective: 800px;*/
}
.S{
    perspective: 800px;
}
.divWord{
    /*border: 1px solid green;*/
    margin-bottom: 5px;
}

.mainDivCard{
    /*border: 1px solid white;*/
    overflow: scroll;
    height: 80vh;
    display: grid;
    align-content: start;
    justify-content: center;
}
/*.Cards{*/
/*    border: 1px solid red;*/
/*    background-color: #1f1f1f;*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    align-content: start;*/
/*}*/
.Word{
    width: 65vw;
    background-color: #7E7E7E;
    /*height: 100%;*/
    border-radius: 10px;
    text-align: center;
    height: 5vh;
}
.LayoutID{
    /*border: 1px solid green;*/
    color: white;
    /*height: 4vh;*/
    width: 85vw;
    height: 85vh;
    border-radius: 20px;
    background-color: rgb(131, 131, 131);
    text-align: center;
    display: grid;
    /*transform-style: preserve-3d;*/
}
.Title{
    color: #FFA800;

}
.CloseCard{
    background-color: #1f1f1f;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.Back{
    /*border: 1px solid blue;*/
    /*background-color: rgba(16,16,16);*/
    /*filter: blur(5rem);*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    position: absolute;
    /*opacity: 100%;*/
    /*z-index: 1;*/
    top:0;
}
.Name{
    color: #ff0000;
    /*align-self: flex-end;*/
    display: flex;
    text-align: justify-all;
    /*align-self: center;*/
}
.child{
    position: absolute;
    width: 60vw;
    height: 60vh;
    background-color: #FFA800;
    border-radius: 20px;
}
.Background{
    background-color: red;
}