
.Main{
    /*perspective: 800px;*/
}
.S{
    perspective: 800px;
}
.cardContent{
    perspective: 800px;
}
.divWord{
    /*border: 1px solid green;*/
    margin-bottom: 5px;
}

.mainDivCard{
    /*border: 1px solid white;*/
    overflow: scroll;
    height: 80vh;
    display: grid;
    align-content: start;
    justify-content: center;
}
/*.Cards{*/
/*    border: 1px solid red;*/
/*    background-color: #1f1f1f;*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    align-content: start;*/
/*}*/
.Word{
    width: 65vw;
    background-color: #7E7E7E;
    /*height: 100%;*/
    border-radius: 10px;
    text-align: center;
    height: 5vh;
    border: 1px solid red;
}
.LayoutID{
    /*border: 1px solid green;*/
    color: white;
    /*height: 4vh;*/
    width: 85vw;
    height: 85vh;
    border-radius: 20px;
    background-color: rgb(131, 131, 131);
    text-align: center;
    display: grid;
}
.Title{
    color: #FFA800;

}
.CloseCard{
    background-color: #1f1f1f;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.Back{
    position: absolute;
    top:0;
}
.Name{
    color: #ff0000;
    /*align-self: flex-end;*/
    display: flex;
    text-align: justify-all;
    /*align-self: center;*/
    /*border: 1px solid red;*/
}
.Map{
    position:relative;
    overflow:hidden;
}
.AMap{
    color:#eee;
    font-size:12px;
    position:absolute;
    top:0;
}
.AAMap{
    color:#eee;
    font-size:12px;
    position:absolute;
    top:14px;
}
.iFrame{
    position:relative;
    width: 300px;
    border-radius: 25px;
    border: none;
}
